@model List<ASP.NET_Warehouse_System.Models.Warehouse>

    <div class="row">
        <div class="col-md-12">
            <a asp-action="Create" asp-controller="Warehouse" class="btn btn-success">Create</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <td>Warehouse Id</td>
                        <td>Warehouse Name</td>
                        <td>Manage</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach {var item in Model}
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>
                                <a asp-action="Edit" asp-controller="Warehouse" asp-route-Id="@item.Id">Edit</a>
                                <a asp-action="Delete" asp-controller="Warehouse" asp-route-Id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>